[submodule "oauth2"]
	path = oauth2
	url = https://github.com/githiago-f/oauth2
[submodule "medical-patients"]
	path = medical-patients
	url = https://github.com/githiago-f/medical-patients
[submodule "medical-gateway"]
	path = medical-gateway
	url = https://github.com/githiago-f/medical-gateway
